<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:bf="http://betterform.sourceforge.net/xforms" xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns:api="http://www.oeaw.ac.at/acdh/cuneidb/api" xmlns:bfc="http://betterform.sourceforge.net/xforms/controls" xmlns:xf="http://www.w3.org/2002/xforms" tei:dummy="xx" bfc:dummy="XXX" api:dummy="xx" bf:evalAVTs="href" xf:dummy="xyz">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        
        <!-- disable caching-->
        <meta http-equiv="cache-control" content="max-age=0"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="expires" content="0"/>
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
        <meta http-equiv="pragma" content="no-cache"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="$shared/resources/css/bootstrap-responsive.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="$app-root/resources/css/custom.css"/>
        <!--<script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>-->
        <script type="text/javascript" src="resources/js/jquery-2.1.3.min.js"/>
        <!--<script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>-->
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap.min.js"/>
        <!--jquery ui-->
        <script type="text/javascript" src="$app-root/resources/js/jquery-ui-1.11.3/jquery-ui.min.js"/>
<!--        <script type="text/javascript" src="resources/js/jquery-2.1.3.min.js"/>-->
        <!-- keyboard widget css & script (required) -->
        <link href="$app-root/resources/keyboard/css/keyboard.css" rel="stylesheet"/>
        <script src="$app-root/resources/keyboard/js/jquery.keyboard.js"/>
        <script src="$app-root/resources/keyboard/js/jquery.keyboard.extension-all.js"/>
        <script type="text/javascript">
            function callback(data) {console.log(data);}
        </script>
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.min.js"/>-->
    </head>
    <body id="body">
        <div id="overlay" class="invisible"/>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="dropdown" id="about">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">cfdb</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>
                                    <a href="about.html">About</a>
                                </li>
                                <li>
                                    <a href="documentation.html">Documentation</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="edit">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Curation</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="editTablets.html">Tablets</a>
                                </li>
                                <li>
                                    <a href="editStdSigns.html">Standard Signs</a>
                                </li>
                                <li>
                                    <a href="editArchives.html">Regions, Archives and Dossiers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" id="explore">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Exploration</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="browse.html">Browse Glyphs</a>
                                </li>
                                <li>
                                    <a href="stats.html">Statistics</a>
                                </li>
                                <li>
                                    <a href="editArchives.html">Regions, Archives and Dossiers</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="dropdown" id="administration">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="editUsers.html">Users</a>
                                </li>
                                <li>
                                    <a href="exportDatabase.html">Export database</a>
                                </li>
                            </ul>
                        </li>-->
                    </ul>
                    <p class="navbar-text pull-right">
                        <i class="icon-user"/>&#160;
                        <span data-template="app:current-user"/>
                    </p>
                </div>
            </div>
        </div>
        <div id="content" class="container-fluid"/>
        <script>
        $('.virtual_keyboard') //works as well with $('#id') or $('element')
        .keyboard({
             resetDefault: false,
             usePreview   : false, 
             autoAccept: true,
             appendLocally : true,
             layout: 'custom',
             display: {'alt'    : 'AltGr:It\'s all Greek to me',},
             customLayout: {
                  'default' : [
                  // Add labels using a ":" after the key's name and replace spaces with "_"
                  // without the labels this line is just 'a b c d e f g'
                  'â ā á Á ē é è ê É î ì í ī Ì Í š ṣ Š ṭ ú û ū Ù',
                  '{accept} {cancel}'],
                  },
        });    
    </script>
    </body>
</html>