/* CSS Styles for Image markup application */
body {background-color: black; margin: 0; padding: 0; font-family: sans-serif;}

/* fallback form when no tablet has been selected in a request parameter or when there is no surface on the selected tablet */  
#selectTabletDialog, #noSurfaceDialog {background: white; border: 1px solid gray; min-width: 250px; width: 45%; margin-left: auto; margin-right: auto; padding: 1.5em; margin-top: 15em;}
#selectTabletDialog p, , #noSurfaceDialog p {margin: 5px;} 


/* top menu */
#menu {padding: 5px; border: 1px solid gray;}
#menu .currentUser {float: right; margin-right: 2px; color: white;}
#menu > form {margin: 0; display: inline;}
.menuitem {color: white; border: 1px solid gray; border-radius: 3px; padding: 2px 8px; font-size: 9pt; text-decoration: none;}
.menuitem:hover {background: white; color: black;}
#zoomControlsContainer {margin-left: 25px;}
#zoomControlsContainer > .menuitem {margin-left: 5px;}
/*#uploader {display: none;}*/
/*#uploader_start {display: none;}*/

/* sign list */ 
#listContainer {float: left; width: 15%; height: 100%; background: black; overflow: scroll; padding: 1em 0 0 1em;}
#filterList a {color: gray; font-size: 12px; text-decoration: none; padding: 3px;}
#filterList a:hover {color: white;}
#filterList input[name = "filter"] {border: 1px solid gray; background-color: transparent; color: white; border-radius: 3px; font-size: 12pt;}

#slider-thumbnailHeight {width: inherit; margin-right: 3em; margin: 1em 3em 2em 0; background: transparent; border-color: gray;}
#slider-thumbnailHeight .ui-slider-range-min {background: transparent;}

.thumbnail {margin-bottom: 5px; position: relative;}
.thumbnail img {border: 1px solid gray; height: 90px;}
.thumbnail:hover > .annotationMenu {display: block; position: absolute; top: 5px; left: 5px;}
.thumbnail:hover .annotationMenu > a {width: 20px; height: 20px; background: black; text-align: center; border: 1px solid white; border-radius: 5px; vertical-align: middle; color: white; margin-left: 2px; font-size: 9pt; text-decoration: none; line-height: 20px;}
.thumbnail:hover .annotationMenu > a:hover {background: white; color: black;}
.thumbnail .props {display: none;}
.thumbnail .annotationMenu {display: none;}
.props tr ~ tr {border-bottom: 1px solid white;}
.props td {border-bottom: inherit;}
.props tr[data-category = 'tech'] {display: none;}

/* image area */
#listContainer + #main {float: left; width: 800px; height: 100%; overflow: hidden; width: auto; max-width: 75%;}
#main {width: 100%; margin: 0; padding: 0;}
#btn-crop {position: absolute; bottom: -25px; right: -45px;}

/* preview area */
#preview {width: 25em; height: 25em; overflow: hidden; position: absolute; top: 5em; right: 2em; border: 1px solid gray;}

/* annotation details area */
#details {display: none; position: absolute; left: 17%; width: 250px; top: 5em; border: 1px solid gray; padding: 5px; background: black; color: white; z-index: 99; font-size: 15pt}
#details > h3 {margin: 5px 1px;}
#detailsContent > .props {display: block; color: white; width: 100%;}

#img {opacity: 0;}
#spinner-wrapper {height: 100%; width: 100%; position: absolute; background: black; z-index: 9999; opacity: 0.8;}
#spinner {color: white; font-size: 5em;   position: absolute; top: 50%; left: 50%;} 