

    a.navlink:link {color: black;}
    a.navlink:visited {color: black;}
    a.navlink:hover {
      color: black;
      text-decoration: underline;
    }

    .jumbotron {

      color: #333;
      padding: 100px 25px;
    }
    .logo {font-size: 200px;}
    @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
      }
    }
    .thumbnail {
      padding: 0 0 10px 0;
      border: none;
      border-radius: 0;
    }
    .thumbnail img {
      /*width: 80; */
      height: 80px;
      margin-bottom: 20px;
    }
    #oeawlogo {
      width: 200px;
    }
    #ariadnelogo {
      width: 270px;
    }
    #orealogo {
      padding-top: 15px;
      padding-bottom: 15px;
     ;
    }
    #defclogo {
      padding-top: 40px;
      width: 200px;
      height: 150px;
    }

    .carousel-inner img {
      width: 1200px; /* Set width to 100% */
      height: 400px;
      margin: auto;
    }
    .carousel-caption h3 {
      color: #EFEFEF;
    }
    .carousel-caption p {
      color: #EFEFEF;
    }
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
    }