/* Application styles could go here */

body { background: none!important; }
.xfRepeatIndex { background-color: #D8D8D8; }
#edit-tabs { margin-bottom: 5em; }
#tab-transliterations #edit-current-translit { margin-top: 2em; }
#tab-creation .xfGroupLabel { display: inline-block; min-width: 127px; vertical-align: top; }
#list-persons-mentioned { border-bottom: 1px solid gray; margin-bottom: 1em; width: 450px; }
#edit-current-person-mentioned { margin-top: 2em; }
#list-persons-mentioned-head { margin-top: 1em; }
#newTabletMenu, #newTabletMenuResult { background: none repeat scroll 0 0 white; border: 1px solid gray; left: 25%; padding: 0.8em 1.3em; position: absolute; top: 25%; vertical-align: middle; z-index: 1; }
#overlay.visible { background: none repeat scroll 0 0 black; height: 100%; opacity: 0.8; position: absolute; right: 0; top: 0; width: 100%; z-index: 1; }
#overlay.invisible { display: none; }
#tabletEditButtons { border-top: 1px solid #ddd; padding-left: 10px; padding-top: 10px; width: 100%; }
#editGlyphMenuShown { width: 75%; }
#signImg { float: right; margin-bottom: 1em; }
#signImg img { width: 180px; height: auto; }



/* glyph.html */
#glyphDetails img { max-width: 180px; max-height: 200px; }


/* editTablets.html */
#tabletHTMLContainer .gThumbnail { float: left; height: auto; margin-bottom: 1em; margin-right: 1em; max-width: 10em; }
#tabletHTMLContainer .gThumbnail > a:hover { position: relative; }
#tabletHTMLContainer .gThumbnail a:hover > .attributes { background: none repeat scroll 0 0 black; border: 1px solid black; bottom: 0; color: white; display: block; left: 0; position: absolute; width: auto; padding: 2px 0; }
#tabletHTMLContainer .gThumbnail .attributes { display: none; }

/* index.html */
#signlist-nav { position: fixed; right: 25px; }
#signlist-nav span.label:hover { background-color: rgba(160, 160, 160, 0.48)}
#signlist-nav a:hover { text-decoration: none; }

#after-display, #before-display {margin-right: 1em;}
#after-display i, #before-display i {color:  white;}

#slider-range {margin-bottom: 3em;}
#slider-range-min, #slider-range-max {padding-top: 1.5em; position: absolute; }
#slider-range-min {left: -0.6em;}
#slider-range-max {right: 0;}

.thumbnail > .attributes {display: none;}
.thumbnail:hover {position: relative;}
.thumbnail:hover > .attributes {background: none repeat scroll 0 0 black; color: white; display: block; left: 25%; padding: 5px; position: absolute; top: 25%; width: 100px;}
.attribute {display: block;}
.attribute-label {min-width: 5em; display: inline-block;} 

.hint .hintText {display: none;}
.hint:hover {position: relative; text-decoration: none; color: black;}
.hint:hover .hintText {display: block; position: absolute; top: 25px; left: 25px; background: white; padding: 3px; border: 1px solid black; width: 125px;}

#searchForm fieldset {margin-bottom: 0.5em; display: inline; margin-right: 2em;}
#searchForm input {margin-right: 0.8em;}
.facet-selected {border: 1px solid red; border-radius: 4px; padding: 6px;}
.rmFacet {float: right; margin-top: 2px;}
#clearSignSelection {vertical-align: top; margin-left: 10px;}

/* stats.html */
.jsgrid-table {font-size: 12px;}

/* archive */

.archive-md {display:none;}
.archive-md-link:hover {position:relative;}
.archive-md-link:hover > .archive-md {background: white; border: 1px solid gray; display: block; left: 42pt; min-width: 600px; padding: 5px; position: absolute; top: -40px; z-index: 1;}
#input-create-snapshot .spinner {display:none;}/* administration.html */
#form-configuration .tab-content { padding: 0 1em; margin-bottom: 4em; }
#form-configuration input {height: 2em; width: 75%;} 